/* =========================
   Appointment
   ========================= */

#appoint {
    position: relative;
}

#appoint > * {
    background: #fdf5f6;
    padding: 1px 15px;
}

#appoint .form-group {
    padding-top: 1rem;
    position: relative;
}

#appoint .form-control {
    background: transparent;
    border: 1px solid #c7c7c7;
    border-width: 0 0 2px;
    border-radius: 0;
    box-shadow: none;
    color: inherit;
    display: block;
    font: inherit;
    height: 3rem;
    padding: .5rem 1rem .5rem 0;
    width: 100%;
}

#appoint .form-group label {
    color: #016a77;
    font-size: .95rem;
    font-weight: 700;
    left: 0;
    position: absolute;
    right: 0;
    text-transform: uppercase;
    top: 0;
}

#appoint #appointgo {
    display: block;
    width: 100%;
}

#appoint #priv {
    height: 1px;
    opacity: 0;
    position: absolute;
    width: 1px;
}

#appoint #priv + label {
    display: block;
    font-weight: inherit;
    padding-left: 1.4rem;
    position: static;
    text-transform: none;
}

#appoint #priv + label::before {
    border: 2px solid;
    content: "";
    height: 1rem;
    left: 0;
    position: absolute;
    top: .125rem;
    width: 1rem;
}

#appoint #priv:checked + label::before {
    background: currentColor;
}

#appoint #privp {
    margin: 0;
    padding: 0;
}


/* Desktop */

@media (min-width: 768px) {

    #appoint > * {
        background: #fff;
        border-top: 1px solid #d7d7d7;
        box-shadow: 0 1rem 1rem rgba(0, 0, 0, .1);
        margin-top: -20px;
        padding: 0 2.5rem 1.5rem;
        position: absolute;
        right: 2.5rem;
        width: 360px;
        z-index: 1;
    }

    #appoint .form-control {
        height: 2.5rem;
    }
}

@media (min-width: 992px) {

    #appoint > * {
        width: 32rem;
    }
}

@media (min-width: 1200px) {

    #appoint > * {
        left: 50%;
        right: auto;
    }
}


/* Mobile */

@media (max-width: 575px) {

    #appoint #appointgo {
        border-radius: 0;
    }
}

@media (max-width: 767px) {

    #appoint #appointgo {
        width: 90%;
        margin-left: 20px;
        font-size: x-large;
    }
}