/* Контакты */

#addrs {
    background: #fdfcf5;
    background-color: #f0ffeb;
}

#addrs .heading {
    margin-bottom: 1.5rem;
}

.kontakty {
    background: #fff;
    /* border: 1px solid #016a77; */
    color: #000;
    display: block;
    line-height: 1.75rem;
    margin-bottom: 2.5rem;
    padding: 1.25rem;
    position: relative;
    border-radius: 15px;
    margin-bottom: 20px;
    box-shadow: var(--shadow);
}

.kontakty h2 {
    margin-top: 0;
    margin-bottom: 15px;
    color: #016a77;
    font-size: 1.4rem;
}

.kontakty img {
    display: block;
    max-width: 100%;
    height: auto;
}

.contacts .col-lg-6 .kontakty .row {
    margin: 0;
    display: flex;
    flex-direction: column;
    /* grid-template-columns: 1fr 3fr; */
}

.contacts .container .row {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

.contacts .container .row .col-lg-6{
    width: 100%;
}

.kontakty ul {
    margin: 0;
    padding-left: 20px;
}

.kontakty li {
    margin-bottom: 8px;
    line-height: 1.4;
}

.kontakty a {
    color: inherit;
}

@media (min-width: 1200px) {
    .col-lg-3 {
        width: 25%;
    }
}
@media (min-width: 1200px) {
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-3 {
        width: 25%;
    }
}
@media (min-width: 1200px) {
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-9 {
        width: 75%;
    }
}

